---
import Layout from "../../../layouts/Page.astro";
import Container from "../../../components/Container.astro";
import BlogPostsListCategory from "../../../components/BlogPostsListCategory.astro";
import { generateCategoryData } from "../../../utils/helpers.js";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../*.{mdx,md}");

  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
  );

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.category).flat()),
  ];

  const allCategoriesUnique = uniqueTags;

  sortedPosts.forEach((post) => {
    if (post.frontmatter.category) {
      allCategoriesUnique.push(post.frontmatter.category);
    }
  });

  const allCategoriesData = generateCategoryData(allCategoriesUnique);

  return allCategoriesData.map((category) => {
    const posts = sortedPosts.filter((post) =>
      post.frontmatter.category.includes(category.name)
    );
    return {
      params: { slug: category.slug },
      props: {
        category: category.name,
        posts: posts,
      },
    };
  });
}

const { category, posts } = Astro.props;
---

<Layout>
  <Container>
    <div class="home-hero-text__container">
      <h1>Posts de {category}</h1>
    </div>
    <BlogPostsListCategory posts={posts} />
  </Container>
</Layout>

<style>
  .home-hero-text__container {
    padding: 5vh 0;
  }
</style>
