---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog - Noticias De Las Fibras Mexicanas";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Blog de la comunidad Fibras MX</p>
</BaseLayout>
