---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "La Comunidad Fibras MX";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Encuentranos en las siguientes redes sociales</p>
</BaseLayout>
