---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "La Comunidad Fibras MX";
const url = Astro.url.pathname;
---

<BaseLayout pageTitle={pageTitle} url={url}>
  <p>Bienvenido a la comunidad más grande amantes de las fibras</p>
</BaseLayout>
