---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Bienvenido a Fibras MX";
const url = Astro.url.pathname;
---

<BaseLayout pageTitle={pageTitle} url={url}>
  <p>Todos somos la comunidad de Fibras MX</p>
</BaseLayout>
