---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Bienvenido a Fibras MX";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Todos somos la comunidad de Fibras MX</p>
</BaseLayout>
