---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Fibras MX | De noob a Inversionista patrimonial",
  description:
    "La comunidad Fibras MX tiene 2 años de haber nacido como una iniciativa ...",
};
---

<Layout seo={seo}>
  <Container>
    <div class="home-hero-text__container">
      <h1 class="title fade-in">Bienvenido a Fibras MX</h1>
    </div>
    <p>Todos somos la comunidad de Fibras MX</p>
  </Container>
</Layout>
