---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Las Fibras En México";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Ponte al día con las noticias e información mas relevante de todas las
    fibras que cotizán en la bolsa méxicana de valores
  </p>
</BaseLayout>
