/** @format */

/* new */
:root {
  --color-enlaces: #000080;
  --color-enlaces-text: #f1f5f9;
  --background: #f1f4f9;
  --color-title: #212529;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--background);
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

hr {
  background-color: var(--color-enlaces);
  height: 0.2rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--color-title);
}

/* Clases Globales */
.color__primary {
  color: var(--color-enlaces);
}

/* Container Base Layout */
.container__layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
}

.main__layout {
  flex-grow: 1;
}

.title {
  text-align: center;
}

/* Nav */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: flex-end; */
  padding: 1rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: 500;
}

.logo a {
  text-decoration: none;
  color: var(--color-title);
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__link {
  list-style: none;
}

.link {
  font-size: 1.2rem;
  text-decoration: underline transparent;
  color: #999999;
  font-weight: 300;
}

.link:hover,
.link:focus {
  text-decoration: underline var(--color-enlaces);
  color: var(--color-enlaces);
}

.active {
  color: var(--color-enlaces);
  text-decoration: underline var(--color-enlaces);
}

/* Blog */
.container__btn-return {
  display: flex;
  justify-content: flex-end;
}

.btn__return {
  display: inline-flex;
  gap: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  text-decoration: none;
  background-color: var(--color-enlaces);
  color: var(--color-enlaces-text);
  border-radius: 0.2rem;
}

.list__blog {
  padding: 1.5rem 0;
}

.title__blog {
  list-style: none;
  padding: 0.2rem 0;
}

.link__blog {
  text-decoration: none;
  color: var(--color-enlaces);
  font-weight: 500;
}

.today__blog {
  font-weight: 300;
  font-style: italic;
  color: #79828d;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag {
  list-style: none;
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.15em;
  background-color: #f8fcfd;
}

.tag__link {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-enlaces);
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.link__social {
  padding: 0.3rem 1rem;
  color: var(--color-enlaces-text);
  background-color: var(--color-enlaces);
  text-decoration: none;
  border-radius: 4px;
}
