---
const { url } = Astro.props;

const listLinks = [
  { linkName: "Inicio", path: "/" },
  { linkName: "Las Fibras", path: "/las-fibras" },
  { linkName: "Comunidad", path: "/comunidad" },
  { linkName: "Blog", path: "/blog" },
];
---

<script>
  let url = window.location.pathname;
  // console.log("url windows:", url);
</script>

<nav class="nav">
  <div class="logo">
    <a href="/">Fibras MX</a>
  </div>

  <ul class="nav__links">
    {
      listLinks.map((link) => (
        <li class="nav__link">
          <a
            class={link.path === url ? "link active" : "link"}
            href={link.path}
          >
            {link.linkName}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
