---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  /* NavLink */
  a {
    display: inline-block;
    text-decoration: underline transparent;
    font-size: 1.2rem;
    color: #999999;
    font-weight: 300;
  }

  a:hover,
  a:focus {
    text-decoration: underline var(--color-enlaces);
    color: var(--color-enlaces);
  }

  a.active {
    color: var(--color-enlaces);
    text-decoration: underline var(--color-enlaces);
    font-weight: bolder;
  }
</style>
