---
import "../style/global.css";
import "../style/medias.css";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
const { url } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <Nav url={url} />
    </header>
    <main class="container__layout">
      <h1 class="title">{pageTitle}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>
